{
	"1":{
		"name":"Movie 1",
		"thumbnail":"this is the path of the thumbnail, could be either in ./public/ or external",
		"description":"Perhaps",
		"path":"yet any path where the movie is stored",
		"subtitles":{
			"en":"again any path the subtitles are stored"
		}
	}
}
