@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

a {
	color: white;
}

a:hover {
	color: gray;
}

* {
	transition-duration: 0.5s;
}

input {
	border-radius: 20px;
	padding: 10px 20px;
	border: none;
	margin-bottom: 5px;
	background: white;
}

input:focus {
	background: #c9dbe0;
}

.button {
	border-radius: 20px;
	padding: 10px;
	border: none;
	text-align: center;
	background: gray;
}

.button:hover {
	background: #00ace0;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: calc(100% - 50px);
	max-width: 400px;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	justify-content: center;
	align-content: center;
	height: 100%;
}

.login-form #message {
	text-align:center;
}

.space {
	height: 20px;
}

.movie-list {
	width: 100%;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
}

.movie-thumbnail {
	width: 200px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	flex-grow: 1;
	opacity: 0.5;
	position: relative;
}

.movie-thumbnail:hover {
	opacity: 0.8;
}

.series-lable:after {
	content:"S";
	text-align: center;
	line-height: 29px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: rgba(50, 50, 50, 0.8);
	border-radius: 5px;
	height: 30px;
	width: 30px;
}

#videoPlayer {
	width: 100vw;
	height: 100vh;
	position: fixed;
}

.left-menu {
	position: fixed;
	width: 300px;
	height: 100%;
	overflow-x: auto;
	border-right: solid white 1px;
	top: 0;
}

.left-menu-element {
	margin: 10px;
	cursor: pointer;
}

.left-menu-element:hover {
	color: grey;
	margin-left: 20px;
}

.left-menu-element.active {
	margin-left: 20px;
}

.settings {
	margin: 20px;
	margin-left: 321px;
}